In [1]:
import pandas as pd
import numpy as np

import datetime

In [9]:
df = pd.read_csv('../preprocessed_data/아파트_동별_소비전력_2022-07-18~2023-08-30.csv', usecols=[1,2,3,4])
df

,TIMESTAMP,561_CONSUMPTION(kW),562_CONSUMPTION(kW),563_CONSUMPTION(kW)
0,2022-07-18 00:00:00,62.1733,67.7842,38.3382
1,2022-07-18 00:01:00,65.9248,69.0978,37.1818
2,2022-07-18 00:02:00,65.0934,69.3263,37.6485
3,2022-07-18 00:03:00,69.8256,67.6393,33.9469
4,2022-07-18 00:04:00,66.7572,66.2724,34.6464
...,...,...,...,...
588155,2023-08-30 10:35:00,42.7607,48.8069,29.6012
588156,2023-08-30 10:36:00,42.6679,49.6149,26.8150
588157,2023-08-30 10:37:00,45.4780,51.7969,25.4370
588158,2023-08-30 10:38:00,44.4553,52.2081,25.2467
588159,2023-08-30 10:39:00,44.4350,52.9664,25.2734

In [10]:
df.to_csv('../preprocessed_data/아파트_동별_소비전력_2022-07-18~2023-08-30.csv')

In [13]:
df.duplicated(['TIMESTAMP']).sum()

0

In [2]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [7]:
df = pd.concat([df, pd.DataFrame({'test' : [1], 'tes1' : [2]})])

df

   test  tes1
0     1     2

In [11]:
df = pd.concat([df, pd.DataFrame({'test' : [2,3,4], 'tes1' : [5,5,5]})], ignore_index=True)

df

   test  tes1
0     1     2
1     2     5
2     3     5
3     4     5
4     2     5
5     3     5
6     4     5
7     2     5
8     3     5
9     4     5

In [13]:
pd.DataFrame({'test':[], 'test2':[]})

Empty DataFrame
Columns: [test, test2]
Index: []